<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViCIO - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css?{{ cache_id }}" />
</head>
<body>
    <div class="dashboard-container">
        <header class="header-section">
            <div class="logo">VICIO</div>
        </header>

        <main>
            <section class="dashboard-welcome">
                <h1>Welcome to VICIO, <span class="username">Jay</span></h1>
                <p>Your journey to addiction-free</p>
            </section>

            <section class="dashboard-buttons">
                <button class="btn start-now">Start Now</button>
                <div class="button-grid">
                    <div class="dashboard-option">
                        <button class="btn">Set Your Goal</button>
                    </div>
                    <div class="dashboard-option">
                        <button class="btn">Personalized Plan</button>
                    </div>
                    <div class="dashboard-option">
                        <button class="btn">Mentor</button>
                    </div>
                    <div class="dashboard-option">
                        <button class="btn">Track Your Progress</button>
                    </div>
                    <div class="dashboard-option">
                        <button class="btn">Daily Check In</button>
                    </div>
                    <div class="dashboard-option">
                        <button class="btn">Support & Community</button>
                    </div>
                </div>

                <button class="btn sign-out">Sign Out</button>
            </section>
        </main>
    </div>
</body>
</html>
