<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ViCIO - Welcome</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/index.css?{{ cache_id }}" />
    </head>
<body>
    <!-- HEADER -->
    <header>
        <nav>
            <div class="logo">
                <h1>ViCIO</h1>
            </div>
            <div class="nav-links">
                <a href="{{ url_for('register') }}" class="btn">Sign Up</a>
                <a href="{{ url_for('login') }}"  class="btn">Sign In</a>
            </div>
        </nav>
    </header>

    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-content">
            <h2>Welcome to ViCIO</h2>
            <p>Your personal journey to overcoming addiction starts here.</p>
            <a href="{{ url_for('register') }}" class="action-button">Get Started</a>
        </div>
    </section>

    <!-- FEATURES SECTION -->
    <section class="features">
        <h3>Why ViCIO?</h3>
        <div class="feature-cards">
            <div class="feature-card">
                <img src="../static/img/goal-icon.png" alt="Personalized Recovery">
                <h4>Personalized Recovery Plans</h4>
                <p>Get a recovery plan tailored to your specific needs and goals.</p>
            </div>
            <div class="feature-card">
                <img src="../static/img/goal-icon.png" alt="Daily Check-ins">
                <h4>Daily Check-ins</h4>
                <p>Track your progress daily and stay on top of your goals.</p>
            </div>
            <div class="feature-card">
                <img src="../static/img/goal-icon.png" alt="Mentor Support">
                <h4>Mentor Support</h4>
                <p>Connect with a mentor who will guide you through the process.</p>
            </div>
            <div class="feature-card">
                <img src="../static/img/goal-icon.png" alt="Community Support">
                <h4>Community</h4>
                <p>Join a community of others on the same journey. Share, support, and grow together.</p>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <p>&copy; 2024 ViCIO. All Rights Reserved.</p>
    </footer>
</body>
</html>
