<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViCIO - Sign In</title>
    <!-- Link to sign-in CSS -->
    <link rel="stylesheet" type="text/css" href="../static/styles/signin.css?{{ cache_id }}" />
</head>
<body>
    <div class="auth-container">
        <div class="auth-box">
            <h1 class="auth-title">Sign In</h1>

            <form action="/login" method="POST" class="auth-form">
                <label for="email">Email Address:</label>
                <input class="form-group" type="email" id="email" name="email" required><br><br>
            
                <label for="password">Password:</label>
                <input class="form-group" type="password" id="password" name="password" required><br><br>
            
                <button class="btn auth-btn" type="submit">Sign In</button>
                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}
            </form>

            <!-- OR divider -->
            <div class="divider">
                <span>OR</span>
            </div>

            <!-- Social Sign In Options -->
            <div class="social-login">
                <button class="btn google-btn">Sign in with Google</button>
                <button class="btn linkedin-btn">Sign in with LinkedIn</button>
            </div>

            <!-- Footer -->
            <p action="{{ url_for('register') }}" method="get" class="auth-footer">Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
